@font-face {
    font-family: 'Rosemary Pontiac';
    src: url('fonts/RosemaryPontiac.ttf') format('truetype'); /* Adjust path and format as necessary */
  }
:root {
    --white-beige: #F6F5EC;
    --homepage-bg: #EFEAE6;
    --peach-cream: #EFE7DA;
    --chalk-beige: #E1DACA;
    --neutral: #C1B6A4;
    --brandy-rose: #B29079;
    --text-color: #302523;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: 'Rosemary Pontiac', sans-serif;
    font-weight: 100;
    text-wrap: pretty !important;
}
.bg-image {
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/YOU-THE-NEXTGENERATION-LOGO.png');
    /* filter: brightness(0.5); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg-image.main-page-bg::before {
    background-size: contain !important;
    background-color: var(--homepage-bg) !important;
}
.bg-image.about-us-bg::before {
    background-color: var(--homepage-bg) !important;
    background-image: none !important;
    /* background-image: url('assets/img/testimonials-bg.jpg') !important; */
}
.bg-image.contact-us-bg::before {
    /* background-image: url('assets/img/services.jpg') !important;
    filter: brightness(0.2); */
    background-color: var(--homepage-bg) !important;
    background-image: none !important;
}
.bg-image.content-creation-agency-bg::before {
    /* background-image: url('assets/img/content-creation.jpg') !important;
    filter: brightness(0.3) grayscale(1); */
    background-color: var(--homepage-bg) !important;
    background-image: none !important;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}
.nav-active {
    text-decoration: underline !important;
}
.navbar .logo {
    z-index: 100;
}
.navbar .logo img {
    height: 5rem;
    width: auto;
    color: var(--white-beige);
}
.navbar .links {
    display: flex;
    gap: 20px;
    position: relative;
}
.navbar .links a {
    text-decoration: none;
    color: var(--brandy-rose);
    font-size: 2rem;
    position: relative;
}
.hamburger {
    z-index: 100;
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--brandy-rose);
    margin: 4px;
}
.hamburger.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active div:nth-child(2) {
    opacity: 0;
}
.hamburger.active div:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
.content {
    text-align: center;
    color: var(--text-color);
    margin-top: auto;
    margin-bottom: auto;
}
.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.content p {
    font-size: 20px;
}
.footer {
    text-align: center;
    padding: 20px;
}
.footer a {
    margin: 0 10px;
    color: var(--white-beige);
    font-size: 20px;
    text-decoration: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white-beige);
    min-width: 160px;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 50%;
    text-align: center;
}
.dropdown-menu a {
    color: var(--brandy-rose) !important;
    font-size: 1.5rem !important;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.dropdown-menu.show {
    display: block;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar .logo img {
        height: 3rem;
    }
    .navbar .links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: var(--homepage-bg);
        padding: 20px;
        z-index: 10;
    }
    .navbar .links.active {
        display: flex;
    }
    .hamburger {
        display: flex;
    }
}

/* About Us */
.about-container {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2rem 0;
    width: 90%;
    margin: 3rem auto;
    border: 1px solid var(--brandy-rose);
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem 1px var(--brandy-rose);
}
.about-header {
    font-family: 'Bodini Moda', serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
}
.about-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    border-radius: 1rem;
}
.about-header h1{
    font-size: 3rem;
    color: var(--brandy-rose);
}
.about-header p{
    color: var(--neutral);
}
.about-content {
    margin: 3rem auto !important;
    text-align: justify;
    font-stretch: ultra-expanded;
}
.about-content h2 {
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    animation: text-reveal 2s forwards;
  }
  
  @keyframes text-reveal {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
.about-objective {
    margin: 1rem 6% 1rem 6% !important;
    text-align: justify;
}
.about-objective h2 {
    font-stretch: ultra-expanded;
    font-size: 3rem;
    font-family: serif;
    color: var(--brandy-rose);
}
.about-container p {
    font-weight: normal;
    color: var(--text-color);
}
.about-container .general-about {
    margin: 1rem 6% auto 6% !important;
    text-align: justify;
    line-height: 2rem;
}
.reveal-text {
    opacity: 0;
    transition: opacity 0.5s; /* add a transition for opacity */
  }
  
  .reveal-text.animate {
    animation: flash 2s forwards;
  }
  
  @keyframes flash {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
.founder {
    display: flex;
}
.founder-img {
    background: -webkit-linear-gradient(var(--homepage-bg), var(--text-color), var(--homepage-bg));
    display: flex;
}
.founder-about {
    background-color: var(--homepage-bg);
}
.founder-about h1 {
    font-size: 3rem;
    padding: 2rem;
    color: var(--text-color);
    letter-spacing: 1rem;
    text-align: center;
}
.founder-about p {
    padding: 0 2rem;
    color: var(--text-color);
    line-height: 2rem;
    text-align: center;
}
.founder-about p span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .founder {
        flex-direction: column;
    }
    .founder img {
        height: auto;
        object-fit: contain;
        rotate: 90deg;
        margin-left: -4rem;
    }
    .founder-about p {
        padding: 2rem 2rem 3rem 2rem;
    }
    .about-content h2 {
        /* font-family: none; */
        /* font-style: italic; */
        font-size: 1.75rem;
    }
    .about-objective {
        text-align: center;
    }
}

.team-header {
    text-align: center;
    letter-spacing: 1rem;
    padding: 5rem 0 0 0;
    background-color: lightgray;
    font-size: 3rem;
}
.team-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0 10rem 0;
    background-color: var(--homepage-bg);
}

.team-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    scroll-behavior: smooth;
}

.team-member {
    flex: 0 0 auto;
    text-align: center;
    margin: 0 5rem;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h3 {
    margin: 10px 0 5px;
}

.team-member p {
    margin: 0;
    padding: 1rem 2rem;
    line-height: 2rem;
}

.arrow {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 600px) {
    .team-header {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .team-section {
        flex-direction: column;
        padding: 2rem 0;
    }

    .team-container {
        display: flex;
        scroll-snap-type: x mandatory;
        width: 100%;
    }

    .team-member {
        flex: 0 0 100%;
        scroll-snap-align: center;
        margin: 0;
    }

    .team-member img {
        width: 300px;
        height: 300px;
    }

    .arrow {
        width: 30px;
        height: 30px;
        margin: 1rem;
    }
}

/* Contact Us */

.contact-form {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    margin: 100px 30%;
    border: 1px solid var(--brandy-rose);
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem 1px var(--brandy-rose);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--brandy-rose);
    border-radius: 5px;
}

.form-group span {
    font-weight: normal;
    color: red;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #555;
}

.contact-inline {
    display: flex;
    gap: 1rem;
    .form-group {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contact-form {
        margin: 100px 5%;
    }
    .contact-inline {
        flex-direction: column;
    }
}

/* Content Creation Agency */

.content-creation {
    margin-top: 2rem !important;
    text-align: center;
}
.workshop-coming-soon {
    margin-top: 50% !important;
    color: var(--white-beige);
}
.cca-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 5rem 17%;
    padding: 2rem;
    border: 1px solid var(--brandy-rose);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--text-color);
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    font-size: larger;
    box-shadow: 0px 0px 1rem 1px var(--brandy-rose);
}
.book-session-button {
    margin-top: 2rem;
    width: auto;
    background: var(--brandy-rose);
    padding: 0.5rem 4rem;
    border-radius: 5rem;
}
.book-session-button a {
    color: var(--text-color);
    text-decoration: none;
}
.book-session-button:hover a{
    color: var(--white-beige);
}
@media (max-width: 600px) {
    .content-creation {
        margin-bottom: 0 !important;
    }
    .cca-content {
        width: 90%;
        margin: 3rem auto;
        padding: 1rem;
    }
}

/* Workshops */
.workshops-content span{
    background: lightgray;
    color: black;
    padding: 0.2rem 0rem; 
    font-style: italic;
}
.workshops-content .vice {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.workshops-content .versa {
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.workshops-content .flex-container{
    display: flex;
    gap: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .workshops-content .flex-container{
        flex-direction: column;
    }
}

/* Meet the team */
.meetTheTeam-content {
    margin: 3rem auto -2rem auto !important;
    z-index: 1;
}
.meetTheTeam-content h2 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    font-style: normal;
}
@media (max-width: 600px) {
    .arrow {
        display: none;
    }
}

/* Coming soon  */
.coming-soon {
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.coming-soon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/YouBackground.jpeg');
    filter: brightness(0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 1rem 25%;
    padding: 1rem;
    box-shadow: 0px 0px 50px 5px var(--brandy-rose);
    z-index: 100;
}
.social-links a {
    margin: 0 1rem;
}
.social-links a i {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* About-slider */
.team-header {
    text-align: center;
    letter-spacing: 1rem;
    padding: 5rem 0 0 0;
    background-color: lightgray;
    font-size: 3rem;
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0 10rem 0;
}

.team-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    scroll-behavior: smooth;
}

.about-member {
    flex: 0 0 auto;
    text-align: center;
    margin: 0 5rem;
}

.about-member img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.about-member h3 {
    margin: 10px 0 5px;
}

.about-member p {
    margin: 0;
}
@media (max-width: 600px) {
    .team-header {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .about-section {
        flex-direction: column;
        padding: 2rem 0;
    }

    .team-container {
        display: flex;
        scroll-snap-type: x mandatory;
        width: 100%;
    }

    .about-member {
        flex: 0 0 100%;
        scroll-snap-align: center;
        margin: 0;
    }
}

.swiper-container {
    width: 100%;
    padding: 20px 0 30px 1rem;
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .team-card {
    width: 100%;
    max-width: 100%;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .team-card p {
    line-height: 2rem;
  }
  
  .team-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .swiper-pagination-bullet-active {
    background: var(--brandy-rose) !important;
  }